# SWDA

In [29]:
import pandas as pd
import os

In [34]:
trans = ['train_set_ru.csv', 
         'train_set_from_67140_ru.csv', 
         'train_set_from_104105_ru.csv',
         'train_set_from_129175_ru.csv',
         'train_set_from_129491_ru.csv',
         'train_set_from_129815_ru.csv',
         'train_set_from_129968_ru.csv',
         'train_set_from_136962_ru.csv',
         'train_set_from_137660_ru.csv',
         'train_set_from_143206_ru.csv',
         'train_set_from_168021_ru.csv',
         'train_set_from_178682_ru.csv']

In [35]:
DIR_NAME = 'swda/train'
files = os.listdir(DIR_NAME)

data_train_ru = pd.DataFrame()
for item in trans:
    print(item)
    df_i = pd.read_csv(f'{DIR_NAME}/{item}')
    data_train_ru = pd.concat([data_train_ru, df_i])
print()
for item in files:
#     print(item)
    if item.endswith('.csv'):
        print(item)
print()

data_train = pd.DataFrame()
orig = []
for item in files:
#     print(item)
    if item.endswith('.csv') and not item.endswith('ru.csv'):
        print(item)
        orig.append(item)
        df_i = pd.read_csv(f'{DIR_NAME}/{item}')
        data_train = pd.concat([data_train, df_i])

train_set_ru.csv
train_set_from_67140_ru.csv
train_set_from_104105_ru.csv
train_set_from_129175_ru.csv
train_set_from_129491_ru.csv
train_set_from_129815_ru.csv
train_set_from_129968_ru.csv
train_set_from_136962_ru.csv
train_set_from_137660_ru.csv
train_set_from_143206_ru.csv
train_set_from_168021_ru.csv
train_set_from_178682_ru.csv

train_set_ru.csv
train_set_from_178682_ru.csv
train_set_from_143206_ru.csv
train_set_from_143206.csv
train_set_from_104105_ru.csv
train_set_from_136962_ru.csv
train_set_from_168021_ru.csv
train_set_from_67140.csv
train_set_from_178682.csv
train_set_from_129175.csv
train_set_from_168021.csv
train_set_from_129815_ru.csv
train_set_from_129968.csv
train_set_from_129491_ru.csv
train_set.csv
train_set_from_129815.csv
train_set_from_136962.csv
train_set_from_129175_ru.csv
train_set_from_137660_ru.csv
train_set_from_104105.csv
train_set_from_129491.csv
train_set_from_129968_ru.csv
train_set_from_137660.csv
train_set_from_67140_ru.csv

train_set_from_143206.csv
train_set_from_67140.csv
train_set_from_178682.csv
train_set_from_129175.csv
train_set_from_168021.csv
train_set_from_129968.csv
train_set.csv
train_set_from_129815.csv
train_set_from_136962.csv
train_set_from_104105.csv
train_set_from_129491.csv
train_set_from_137660.csv

In [36]:
data_train_ru

,en,ru
0,Okay.,Хорошо.
1,"So, What kind of experience do you, do you hav...","Итак, какой же у вас опыт в уходе за детьми?"
2,"I guess, I think, uh, I wonder if that worked.","Я думаю, я думаю, э-э, интересно, сработало ли..."
3,Does it say something?,Это о чем-то говорит?
4,I think it usually does.,"Я думаю, что обычно так и происходит."
...,...,...
13699,it is.,это.
13700,It really is.,Это действительно так.
13701,"Yeah,","Да,"
13702,it really is.,это действительно так.
13703,"And I felt,","И я почувствовал,"

In [39]:
data_train_ru.to_csv('all_train_set_ru.csv', index=False)

In [45]:
data = pd.read_csv(f'{DIR_NAME}/all_train_set_ru.csv')
data

,en,ru
0,Okay.,Хорошо.
1,"So, What kind of experience do you, do you hav...","Итак, какой же у вас опыт в уходе за детьми?"
2,"I guess, I think, uh, I wonder if that worked.","Я думаю, я думаю, э-э, интересно, сработало ли..."
3,Does it say something?,Это о чем-то говорит?
4,I think it usually does.,"Я думаю, что обычно так и происходит."
...,...,...
192381,it is.,это.
192382,It really is.,Это действительно так.
192383,"Yeah,","Да,"
192384,it really is.,это действительно так.
192385,"And I felt,","И я почувствовал,"

In [48]:
orig = pd.read_csv(f'{DIR_NAME}/train_set.csv')
orig

,Unnamed: 0,speaker,text,code
0,0,A,Okay.,"fo_o_fw_""_by_bc"
1,1,A,"So, What kind of experience do you, do you hav...",qw
2,2,B,"I guess, I think, uh, I wonder if that worked.",qy^d
3,3,A,Does it say something?,qy
4,4,B,I think it usually does.,sd
...,...,...,...,...
192381,192381,B,it is.,sd
192382,192382,B,It really is.,sd
192383,192383,B,"Yeah,",ny
192384,192384,B,it really is.,sd
192385,192385,B,"And I felt,",sd

In [50]:
orig.text = data.ru
orig[['text', 'code']]

                                                     text             code
0                                                 Хорошо.  fo_o_fw_"_by_bc
1            Итак, какой же у вас опыт в уходе за детьми?               qw
2       Я думаю, я думаю, э-э, интересно, сработало ли...             qy^d
3                                   Это о чем-то говорит?               qy
4                   Я думаю, что обычно так и происходит.               sd
...                                                   ...              ...
192381                                               это.               sd
192382                             Это действительно так.               sd
192383                                                Да,               ny
192384                             это действительно так.               sd
192385                                  И я почувствовал,               sd

[192386 rows x 2 columns]

In [52]:
orig[['text', 'code']].to_csv('swda_train_to_model.csv')

## Test

In [53]:
orig = pd.read_csv(f'swda/test/test_set.csv')
orig

,Unnamed: 0,speaker,text,code
0,0,A,"Okay, uh,","fo_o_fw_""_by_bc"
1,1,A,could you tell me what you think contributes m...,qw
2,2,B,"Well, it's hard to say.",^h
3,3,B,"I mean, while it's certainly the case that thi...",sv
4,4,B,What do you think?,qo
...,...,...,...,...
4073,4073,B,I appreciate it.,fc
4074,4074,A,Okay.,fc
4075,4075,B,Catch you later.,fc
4076,4076,A,Bye-bye.,fc
4077,4077,B,Bye-bye.,fc

In [54]:
data = pd.read_csv(f'swda/test/test_set_ru.csv')
data

,en,ru
0,"Okay, uh,","Ладно, э-э,"
1,could you tell me what you think contributes m...,"не могли бы вы сказать мне, что, по вашему мне..."
2,"Well, it's hard to say.","Ну, это трудно сказать."
3,"I mean, while it's certainly the case that thi...","Я имею в виду, хотя, безусловно, такие вещи, к..."
4,What do you think?,Что ты думаешь?
...,...,...
4073,I appreciate it.,Я ценю это.
4074,Okay.,Хорошо.
4075,Catch you later.,Увидимся позже.
4076,Bye-bye.,Пока-пока.
4077,Bye-bye.,Пока-пока.

In [55]:
orig.text = data.ru
orig[['text', 'code']]

                                                   text             code
0                                           Ладно, э-э,  fo_o_fw_"_by_bc
1     не могли бы вы сказать мне, что, по вашему мне...               qw
2                               Ну, это трудно сказать.               ^h
3     Я имею в виду, хотя, безусловно, такие вещи, к...               sv
4                                       Что ты думаешь?               qo
...                                                 ...              ...
4073                                        Я ценю это.               fc
4074                                            Хорошо.               fc
4075                                    Увидимся позже.               fc
4076                                         Пока-пока.               fc
4077                                         Пока-пока.               fc

[4078 rows x 2 columns]

In [56]:
orig[['text', 'code']].to_csv('swda_test_to_model.csv')

## Val

In [57]:
orig = pd.read_csv(f'swda/val/val_set.csv')
orig

,Unnamed: 0,speaker,text,code
0,0,B,"Um, all right.","fo_o_fw_""_by_bc"
1,1,A,"I've, uh,",%
2,2,A,"as far as I'm concerned, I find that the young...",sv
3,3,A,and I think that comes about from their being ...,sv
4,4,B,Uh-huh.,aa
...,...,...,...,...
3267,3267,B,"and I know they've, there's a lot of refinerie...",sd
3268,3268,B,"and that, that's some pretty potent stuff they...",sv
3269,3269,B,"I, but I don't know how, uh, you know,",sd
3270,3270,B,there's a difference in what you can smell and...,sv
3271,3271,A,"Be interesting to see when, as Mexico develops...",sv

In [58]:
data = pd.read_csv(f'swda/val/val_set_ru.csv')
data

,en,ru
0,"Um, all right.","Эм, хорошо."
1,"I've, uh,","Я, э-э,"
2,"as far as I'm concerned, I find that the young...","что касается меня, то я нахожу, что молодые же..."
3,and I think that comes about from their being ...,"и я думаю, это происходит потому, что сейчас о..."
4,Uh-huh.,Угу.
...,...,...
3267,"and I know they've, there's a lot of refinerie...","и я знаю, что у них там много нефтеперерабатыв..."
3268,"and that, that's some pretty potent stuff they...","и это, это довольно мощная штука, которую они ..."
3269,"I, but I don't know how, uh, you know,","Я, но я не знаю, как, э-э, ты знаешь,"
3270,there's a difference in what you can smell and...,"есть разница в том, что ты чувствуешь по запах..."
3271,"Be interesting to see when, as Mexico develops...","Было бы интересно посмотреть, когда, по мере п..."

In [59]:
orig.text = data.ru
orig[['text', 'code']]

                                                   text             code
0                                           Эм, хорошо.  fo_o_fw_"_by_bc
1                                               Я, э-э,                %
2     что касается меня, то я нахожу, что молодые же...               sv
3     и я думаю, это происходит потому, что сейчас о...               sv
4                                                  Угу.               aa
...                                                 ...              ...
3267  и я знаю, что у них там много нефтеперерабатыв...               sd
3268  и это, это довольно мощная штука, которую они ...               sv
3269              Я, но я не знаю, как, э-э, ты знаешь,               sd
3270  есть разница в том, что ты чувствуешь по запах...               sv
3271  Было бы интересно посмотреть, когда, по мере п...               sv

[3272 rows x 2 columns]

In [60]:
orig[['text', 'code']].to_csv('swda_val_to_model.csv')

# MIDAS

## Train

In [103]:
orig = pd.read_csv(f'MIDAS/midas_train.csv')
orig

,text,joint_labels
0,how about another short piece of football news...,open_question_factual
1,do you want to hear some fun facts about cats ...,pos_answer;command
2,did you know that : yes > i did,pos_answer
3,what is the team that you are rooting for in m...,opinion
4,are you talking about a specific movie : not g...,pos_answer
...,...,...
10282,can you repeat the book name please : EMPTY > ...,opinion
10283,tell me more about it : that was very pretty >...,comment
10284,the 1956 film the ten commandments with moses ...,neg_answer
10285,of course we can chat : EMPTY > i,abandon
10286,period : EMPTY > oh,hold

In [104]:
data = pd.read_csv(f'MIDAS/midas_train_ru.csv')
data

,Unnamed: 0,en,ru
0,0,how about another short piece of football news...,как насчет еще одной короткой части футбольных...
1,1,do you want to hear some fun facts about cats ...,хотите вместо этого услышать несколько забавны...
2,2,did you know that : yes > i did,"знаете ли вы, что : да > я сделал"
3,3,what is the team that you are rooting for in m...,за какую команду вы болеете в m l b : ПУСТО > ...
4,4,are you talking about a specific movie : not g...,вы говорите о конкретном фильме : не очень хор...
...,...,...,...
10282,10282,can you repeat the book name please : EMPTY > ...,"не могли бы вы повторить название книги, пожал..."
10283,10283,tell me more about it : that was very pretty >...,расскажите мне об этом подробнее: это было оче...
10284,10284,the 1956 film the ten commandments with moses ...,"фильм 1956 года ""Десять заповедей"" с Моисеем в..."
10285,10285,of course we can chat : EMPTY > i,"конечно, мы можем поболтать : ПУСТО > я"
10286,10286,period : EMPTY > oh,период : ПУСТО > о

In [105]:
data[data.ru.str.find("ПУСТОЙ") != -1]

,Unnamed: 0,en,ru
67,67,can you rephrase that : EMPTY > ori and the bl...,можете ли вы перефразировать это: ПУСТОЙ > ори...
86,86,what's your favorite movie with ryan reynolds ...,какой ваш любимый фильм с Райаном Рейнольдсом ...
102,102,or what the user seems to like seeing : EMPTY ...,"или то, что пользователю, похоже, нравится вид..."
107,107,what movie genre do you enjoy the most : EMPTY...,какой жанр фильма вам нравится больше всего : ...
122,122,we can talk about something else as well : EMP...,мы можем поговорить и о чем-то другом : ПУСТОЙ...
...,...,...,...
10190,10190,tell me why do you like this artist : EMPTY > ...,"скажи мне, почему тебе нравится этот артист : ..."
10225,10225,can you please repeat that : EMPTY > talking,"не могли бы вы, пожалуйста, повторить это : ПУ..."
10264,10264,it was released in 2015 and features tom kenny...,он был выпущен в 2015 году и включает Тома Кен...
10265,10265,what book genre is your favorite : EMPTY > sou...,какой жанр книги ваш любимый : ПУСТОЙ > выход ...
10272,10272,what do you think is the best acting performan...,"как вы думаете, что является лучшим актерским ..."

In [106]:
orig.text = data.ru
orig[['text', 'joint_labels']]

,text,joint_labels
0,как насчет еще одной короткой части футбольных...,open_question_factual
1,хотите вместо этого услышать несколько забавны...,pos_answer;command
2,"знаете ли вы, что : да > я сделал",pos_answer
3,за какую команду вы болеете в m l b : ПУСТО > ...,opinion
4,вы говорите о конкретном фильме : не очень хор...,pos_answer
...,...,...
10282,"не могли бы вы повторить название книги, пожал...",opinion
10283,расскажите мне об этом подробнее: это было оче...,comment
10284,"фильм 1956 года ""Десять заповедей"" с Моисеем в...",neg_answer
10285,"конечно, мы можем поболтать : ПУСТО > я",abandon
10286,период : ПУСТО > о,hold

In [107]:
orig[['text', 'joint_labels']].to_csv('MIDAS_train_to_model.csv')

In [108]:
orig['text'].to_csv('MIDAS_t.csv', index = False)

In [109]:
text = pd.read_csv('MIDAS_t.csv', sep='delimiter')
text

/home/irina/anaconda3/lib/python3.8/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                                    text
0      как насчет еще одной короткой части футбольных...
1      хотите вместо этого услышать несколько забавны...
2                      знаете ли вы, что : да > я сделал
3      за какую команду вы болеете в m l b : ПУСТО > ...
4      вы говорите о конкретном фильме : не очень хор...
...                                                  ...
10282  не могли бы вы повторить название книги, пожал...
10283  расскажите мне об этом подробнее: это было оче...
10284  "фильм 1956 года ""Десять заповедей"" с Моисее...
10285            конечно, мы можем поболтать : ПУСТО > я
10286                                 период : ПУСТО > о

[10287 rows x 1 columns]

In [110]:
orig.text = text.text
orig[['text', 'joint_labels']]

,text,joint_labels
0,как насчет еще одной короткой части футбольных...,open_question_factual
1,хотите вместо этого услышать несколько забавны...,pos_answer;command
2,"знаете ли вы, что : да > я сделал",pos_answer
3,за какую команду вы болеете в m l b : ПУСТО > ...,opinion
4,вы говорите о конкретном фильме : не очень хор...,pos_answer
...,...,...
10282,"не могли бы вы повторить название книги, пожал...",opinion
10283,расскажите мне об этом подробнее: это было оче...,comment
10284,"""фильм 1956 года """"Десять заповедей"""" с Моисее...",neg_answer
10285,"конечно, мы можем поболтать : ПУСТО > я",abandon
10286,период : ПУСТО > о,hold

In [112]:
orig[['text', 'joint_labels']].to_csv('MIDAS_train_to_model.csv')

In [113]:
orig[orig.text.str.find("ПУСТОЙ") != -1]

Empty DataFrame
Columns: [text, joint_labels]
Index: []

## Dev

In [114]:
orig = pd.read_csv(f'MIDAS/midas_dev.csv')
orig

                                                   text           joint_labels
0               i think i heard wrong : EMPTY > top gun              statement
1     don't give up on me : EMPTY > i'm not giving u...              statement
2     do you mind tell me one more time : EMPTY > wh...  open_question_factual
3     can you repeat the book name please : EMPTY > ...              statement
4     do you prefer to watch movies in the theater o...                opinion
...                                                 ...                    ...
2587         do you want more like these : EMPTY > yeah     pos_answer;command
2588  do you want to tell me your name : EMPTY > i n...               nonsense
2589  fun : i like fun because you go to different p...                opinion
2590  i think i would like to be a sea sponge and li...           appreciation
2591  have you seen any movies recently : EMPTY > i ...                comment

[2592 rows x 2 columns]

In [115]:
data = pd.read_csv(f'MIDAS/midas_dev_ru.csv')
data

,en,ru
0,i think i heard wrong : EMPTY > top gun,"кажется, я ослышался : ПУСТОЙ > топ-пистолет"
1,don't give up on me : EMPTY > i'm not giving u...,не отказывайся от меня : ПУСТО > я не отказыва...
2,do you mind tell me one more time : EMPTY > wh...,"не возражаете, скажите мне еще раз : ПУСТО > к..."
3,can you repeat the book name please : EMPTY > ...,"не могли бы вы повторить название книги, пожал..."
4,do you prefer to watch movies in the theater o...,вы предпочитаете смотреть фильмы в кинотеатре ...
...,...,...
2587,do you want more like these : EMPTY > yeah,ты хочешь еще таких : ПУСТО > да
2588,do you want to tell me your name : EMPTY > i n...,ты хочешь сказать мне свое имя : ПУСТО > я хоч...
2589,fun : i like fun because you go to different p...,"веселье: мне нравится веселье, потому что вы х..."
2590,i think i would like to be a sea sponge and li...,"я думаю, что хотел бы быть морской губкой и жи..."
2591,have you seen any movies recently : EMPTY > i ...,вы недавно смотрели какие-нибудь фильмы : ПУСТ...

In [116]:
data[data.ru.str.find("ПУСТОЙ") != -1]

,en,ru
0,i think i heard wrong : EMPTY > top gun,"кажется, я ослышался : ПУСТОЙ > топ-пистолет"
43,but i'm different : EMPTY > oh,но я другой : ПУСТОЙ > о
80,what movie do you like : EMPTY > the dark knight,какой фильм вам нравится : ПУСТОЙ > темный рыцарь
95,shooter : EMPTY > strategy,шутер : ПУСТОЙ > стратегия
113,which characters did you like best in that mov...,какие персонажи вам больше всего понравились в...
...,...,...
2541,could you tell me what music genre you like : ...,"не могли бы вы сказать мне, какой музыкальный ..."
2554,did you say chat : EMPTY > venture said fiction,вы сказали чат : ПУСТОЙ > венчурный сказал вым...
2559,what movie genre do you enjoy the most : EMPTY...,какой жанр фильма вам нравится больше всего : ...
2567,what genre of music are you into : EMPTY > i l...,какой жанр музыки вам нравится : ПУСТОЙ > мне ...
2578,what movies are you looking forward to watchin...,какие фильмы вы с нетерпением ждете просмотра ...

In [117]:
orig.text = data.ru
orig[['text', 'joint_labels']]

                                                   text           joint_labels
0          кажется, я ослышался : ПУСТОЙ > топ-пистолет              statement
1     не отказывайся от меня : ПУСТО > я не отказыва...              statement
2     не возражаете, скажите мне еще раз : ПУСТО > к...  open_question_factual
3     не могли бы вы повторить название книги, пожал...              statement
4     вы предпочитаете смотреть фильмы в кинотеатре ...                opinion
...                                                 ...                    ...
2587                   ты хочешь еще таких : ПУСТО > да     pos_answer;command
2588  ты хочешь сказать мне свое имя : ПУСТО > я хоч...               nonsense
2589  веселье: мне нравится веселье, потому что вы х...                opinion
2590  я думаю, что хотел бы быть морской губкой и жи...           appreciation
2591  вы недавно смотрели какие-нибудь фильмы : ПУСТ...                comment

[2592 rows x 2 columns]

In [118]:
orig[['text', 'joint_labels']].to_csv('MIDAS_val_to_model.csv')

In [119]:
orig['text'].to_csv('MIDAS_v.csv', index = False)

In [122]:
text = pd.read_csv('MIDAS_v.csv', sep='delimiter')
text

/home/irina/anaconda3/lib/python3.8/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                                   text
0                кажется, я ослышался :  > топ-пистолет
1     не отказывайся от меня : ПУСТО > я не отказыва...
2     не возражаете, скажите мне еще раз : ПУСТО > к...
3     не могли бы вы повторить название книги, пожал...
4     вы предпочитаете смотреть фильмы в кинотеатре ...
...                                                 ...
2587                   ты хочешь еще таких : ПУСТО > да
2588  ты хочешь сказать мне свое имя : ПУСТО > я хоч...
2589  веселье: мне нравится веселье, потому что вы х...
2590  я думаю, что хотел бы быть морской губкой и жи...
2591  вы недавно смотрели какие-нибудь фильмы : ПУСТ...

[2592 rows x 1 columns]

In [123]:
orig.text = text.text
orig[['text', 'joint_labels']]

                                                   text           joint_labels
0                кажется, я ослышался :  > топ-пистолет              statement
1     не отказывайся от меня : ПУСТО > я не отказыва...              statement
2     не возражаете, скажите мне еще раз : ПУСТО > к...  open_question_factual
3     не могли бы вы повторить название книги, пожал...              statement
4     вы предпочитаете смотреть фильмы в кинотеатре ...                opinion
...                                                 ...                    ...
2587                   ты хочешь еще таких : ПУСТО > да     pos_answer;command
2588  ты хочешь сказать мне свое имя : ПУСТО > я хоч...               nonsense
2589  веселье: мне нравится веселье, потому что вы х...                opinion
2590  я думаю, что хотел бы быть морской губкой и жи...           appreciation
2591  вы недавно смотрели какие-нибудь фильмы : ПУСТ...                comment

[2592 rows x 2 columns]

In [124]:
orig[['text', 'joint_labels']].to_csv('MIDAS_val_to_model.csv')

In [125]:
orig[orig.text.str.find("ПУСТОЙ") != -1]

Empty DataFrame
Columns: [text, joint_labels]
Index: []