In [78]:
import pandas as pd

In [79]:
topic_data = pd.DataFrame(columns={'text', 'topic'})
topic_data[['text', 'topic']]

Empty DataFrame
Columns: [text, topic]
Index: []

In [80]:
df = pd.read_csv('Beauty.csv')
df

,users,times,text,topic,quote
0,womantalks.ru,5 сен 2015,Кудри издавна считались особым элементом приче...,Beauty,NaN
1,Киана,19 май 2016,Все время делаю себе кудри именно утюжком полу...,Beauty,NaN
2,elenavolk,22 май 2016,"красиво то как, и я так хочу)",Beauty,NaN
3,lena.a,24 май 2016,"красиво, но волосы портятся будь здоров)",Beauty,NaN
4,Ласковая,27 авг 2016,"Это точно, от плоек и утюжков волосы сильнее п...",Beauty,NaN
...,...,...,...,...,...
787,Валерия Соломонова,17 апр 2018,"тут спор про ретасол вышел, тоже хочу свое мне...",Beauty,NaN
788,farovskayaoksana,27 май 2018,Мне очень здорово серия серацин помогает ) поп...,Beauty,NaN
789,Галина,17 июл 2019,"Про ПП лекции читать не собираюсь, но это прав...",Beauty,NaN
790,nadin-er,25 май 2020,у дочки на лице угри пошли. Хоть и следит за к...,Beauty,NaN
791,nadin-er,25 май 2020,а он не совсем для взрослых? Если это антибиот...,Beauty,"это подростковое, тут курс лечения достаточно ..."

In [81]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

      topic                                               text
0    Beauty  Кудри издавна считались особым элементом приче...
1    Beauty  Все время делаю себе кудри именно утюжком полу...
2    Beauty                      красиво то как, и я так хочу)
3    Beauty           красиво, но волосы портятся будь здоров)
4    Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..      ...                                                ...
787  Beauty  тут спор про ретасол вышел, тоже хочу свое мне...
788  Beauty  Мне очень здорово серия серацин помогает ) поп...
789  Beauty  Про ПП лекции читать не собираюсь, но это прав...
790  Beauty  у дочки на лице угри пошли. Хоть и следит за к...
791  Beauty  а он не совсем для взрослых? Если это антибиот...

[792 rows x 2 columns]

In [82]:
df = pd.read_csv('Books&Literature.csv')
df

,topic,times,text,quote,users
0,Books&Literature,17.02.2006,"Доброе время суток!У кого есть время, поделите...",NaN,Alex_Shadrinsk
1,Books&Literature,18.02.2006,Ответ неплох...Ну тогда сосканируйте мне утрач...,NaN,Инклер
2,Books&Literature,19.02.2006,"Это не моя любимая книжка, а ваша.",NaN,amyatishkin
3,Books&Literature,21.02.2006,"Во-во, они.Иллюстрации Лады для Швейка тоже не...",NaN,Инклер
4,Books&Literature,29.05.2014,Несколько мыслей вслух... Было бы наверное оче...,NaN,Alex_Shadrinsk
...,...,...,...,...,...
172,Books&Literature,21.03.2006,"Я ошибся, МТУ имеет почту до 5М. Если не пойде...",NaN,Инклер
173,Books&Literature,28.05.2006,"Соколов-Митрич Д., Эрлих Г.АнтиГрабовой. Кто «...",NaN,heleknar
174,Books&Literature,28.05.2006,Честно говоря пока не получил. Если послано на...,NaN,Вадим
175,Books&Literature,30.05.2006,А когда книга перейдет в основную библиотеку?И...,NaN,heleknar
176,Books&Literature,07.05.2005,1 мая 2005 года на 98 году жизни скончался изв...,NaN,Вадим

In [83]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

                topic                                               text
0              Beauty  Кудри издавна считались особым элементом приче...
1              Beauty  Все время делаю себе кудри именно утюжком полу...
2              Beauty                      красиво то как, и я так хочу)
3              Beauty           красиво, но волосы портятся будь здоров)
4              Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..                ...                                                ...
172  Books&Literature  Я ошибся, МТУ имеет почту до 5М. Если не пойде...
173  Books&Literature  Соколов-Митрич Д., Эрлих Г.АнтиГрабовой. Кто «...
174  Books&Literature  Честно говоря пока не получил. Если послано на...
175  Books&Literature  А когда книга перейдет в основную библиотеку?И...
176  Books&Literature  1 мая 2005 года на 98 году жизни скончался изв...

[969 rows x 2 columns]

In [84]:
df = pd.read_csv('Books&Literature_1.csv')
df

,users,topic,times,quote,text
0,andrew_b,Books&Literature,22 апреля 2011,NaN,"В разделе, посвящённом фантастике, есть тема ""..."
1,Черёмуха,Books&Literature,16 июня 2011,NaN,"Заели детские воспоминания. Каждый год, приезж..."
2,Aryan,Books&Literature,16 июня 2011,NaN,"Черёмуха Это, случайно. не Борис Привалов Сказ..."
3,k2007,Books&Literature,16 июня 2011,NaN,"Черёмуха Aryan Гугл говорит, что да ссылка"
4,Черёмуха,Books&Literature,17 июня 2011,NaN,"Aryan k2007Точно, это оно, спасибо большое."
...,...,...,...,...,...
3096,ameshavkin,Books&Literature,26 ноября 2016,NaN,kniging.com.uaЖорж БлонВеликие тайны океанов. ...
3097,Ааз,Books&Literature,27 ноября 2016,NaN,Рисунки Хармса.Сост. Юрий Александров.СПб.Изд...
3098,osservato,Books&Literature,27 ноября 2016,NaN,"Мне не очень понравилось, как изданы ""Игры раз..."
3099,Водник,Books&Literature,30 ноября 2016,NaN,
3100,perftoran,Books&Literature,2 декабря 2016,NaN,Евгений Жаринов. Лекции о литературе. Диалог э...

In [85]:
df = df[pd.isnull(df.text) == False]

In [86]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

                 topic                                               text
0               Beauty  Кудри издавна считались особым элементом приче...
1               Beauty  Все время делаю себе кудри именно утюжком полу...
2               Beauty                      красиво то как, и я так хочу)
3               Beauty           красиво, но волосы портятся будь здоров)
4               Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...                ...                                                ...
3096  Books&Literature  kniging.com.uaЖорж БлонВеликие тайны океанов. ...
3097  Books&Literature   Рисунки Хармса.Сост. Юрий Александров.СПб.Изд...
3098  Books&Literature  Мне не очень понравилось, как изданы "Игры раз...
3099  Books&Literature
3100  Books&Literature  Евгений Жаринов. Лекции о литературе. Диалог э...

[4053 rows x 2 columns]

In [87]:
df = pd.read_csv('Travel.csv')
df

,users,topic,text,times,quote
0,Гостья,Travel,"Здравствуйте,планируем в начале мая посетить в...",02 мая 2023,NaN
1,Гость,Travel,"Возьмите куртку на тонком синтепоне, какой ниб...",02 мая 2023,NaN
2,🐞,Travel,Сегодня в футболках даже экстремалы не ходят. ...,02 мая 2023,NaN
3,Монти,Travel,"Верно, у нас по погоде так и есть, температура...",02 мая 2023,NaN
4,Гость,Travel,"Добрый день! Сегодня 16, завтра 9, потом 5-6 д...",02 мая 2023,NaN
...,...,...,...,...,...
5424,Бухие бухи,Travel,"Жёсче всех ""победа"" проверяла, путём погружени...",22 декабря 2021,NaN
5425,Лана,Travel,Проверяют. В визэйре перед регистрацией есть с...,22 декабря 2021,NaN
5426,шальная императрица,Travel,основная проверка ручной клади идёт по взгляду...,22 декабря 2021,NaN
5427,Гость,Travel,"Смотря, какая компания. На одном рейсе в Райне...",22 декабря 2021,NaN
5428,Эллен,Travel,"Я, из экономии. Самая гадская компания ПОБЕДА....",23 декабря 2021,NaN

In [88]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

       topic                                               text
0     Beauty  Кудри издавна считались особым элементом приче...
1     Beauty  Все время делаю себе кудри именно утюжком полу...
2     Beauty                      красиво то как, и я так хочу)
3     Beauty           красиво, но волосы портятся будь здоров)
4     Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...      ...                                                ...
5424  Travel  Жёсче всех "победа" проверяла, путём погружени...
5425  Travel  Проверяют. В визэйре перед регистрацией есть с...
5426  Travel  основная проверка ручной клади идёт по взгляду...
5427  Travel  Смотря, какая компания. На одном рейсе в Райне...
5428  Travel  Я, из экономии. Самая гадская компания ПОБЕДА....

[9482 rows x 2 columns]

In [89]:
df = pd.read_csv('Job.csv')
df

,topic,text,times,users,quote
0,Job,"Пришла после отличных выходных на работу, и с ...",02 мая 2023,Автор,NaN
1,Job,"Поговорить лично, почему д.о.ё.б.ы.в.а.е.т.с.я...",02 мая 2023,95,NaN
2,Job,"Был у мну знакомый, строитель, а я в то время ...",02 мая 2023,Великолепный Вася,NaN
3,Job,"он хочет чтобы я его во всем слушалась, как ра...",02 мая 2023,Гость,"Поговорить лично, почему д.о.ё.б.ы.в.а.е.т.с.я..."
4,Job,"у меня тоже ощущение было, что я с гопником об...",02 мая 2023,Гость,"Был у мну знакомый, строитель, а я в то время ..."
...,...,...,...,...,...
2614,Job,"Конечно уходите. Мужу объясните, что на форуме...",31 марта,Гость,NaN
2615,Job,Фантазёрка,31 марта,Гость,NaN
2616,Job,"смотря какой муж, мы ж его не знаем. может он ...",31 марта,🍉😽🍉,NaN
2617,Job,"Нет,не стоит уходить,даже не думайте!",31 марта,Гость,NaN
2618,Job,Почему ?,31 марта,Гость,"Нет,не стоит уходить,даже не думайте!"

In [90]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

       topic                                               text
0     Beauty  Кудри издавна считались особым элементом приче...
1     Beauty  Все время делаю себе кудри именно утюжком полу...
2     Beauty                      красиво то как, и я так хочу)
3     Beauty           красиво, но волосы портятся будь здоров)
4     Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...      ...                                                ...
2614     Job  Конечно уходите. Мужу объясните, что на форуме...
2615     Job                                         Фантазёрка
2616     Job  смотря какой муж, мы ж его не знаем. может он ...
2617     Job              Нет,не стоит уходить,даже не думайте!
2618     Job                                           Почему ?

[12101 rows x 2 columns]

In [91]:
df = pd.read_csv('Depression.csv')
df

,text,users,times,topic,quote
0,"Я знаю,что таких тем много. Но я говорю, про р...",Марго,17 сентября 2012,Depression,NaN
1,"господи, милая, какой психиатр?? вы о чем???и ...",гость,17 сентября 2012,Depression,NaN
2,+100000000000000000,Гость,17 сентября 2012,Depression,"господи, милая, какой психиатр?? вы о чем???и ..."
3,В инете полно объявлений о психологической пом...,0,17 сентября 2012,Depression,NaN
4,А что у вас с личной жизнью?,Гостья,17 сентября 2012,Depression,NaN
...,...,...,...,...,...
230,"Как можно себе внушить ,депрессия бывает после...",Гость,11 февраля,Depression,"господи, милая, какой психиатр?? вы о чем???и ..."
231,Я тоже не могу работать Иза своей депресси охо...,Гость,11 февраля,Depression,У меня была тяжелая форма депрессии как резуль...
232,Психотерапевт никаких лекарств не назначает. Н...,Гость,12 февраля,Depression,Психиатром тут не пахнет. Ваш терапевт - дура(...
233,Вот и я свалилась в такую же яму,Гость,03 марта,Depression,Я тоже не могу работать Иза своей депресси охо...
234,Вы перепутали с психологом,Гость,19 апреля,Depression,Психотерапевт никаких лекарств не назначает. Н...

In [92]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

          topic                                               text
0        Beauty  Кудри издавна считались особым элементом приче...
1        Beauty  Все время делаю себе кудри именно утюжком полу...
2        Beauty                      красиво то как, и я так хочу)
3        Beauty           красиво, но волосы портятся будь здоров)
4        Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..          ...                                                ...
230  Depression  Как можно себе внушить ,депрессия бывает после...
231  Depression  Я тоже не могу работать Иза своей депресси охо...
232  Depression  Психотерапевт никаких лекарств не назначает. Н...
233  Depression                   Вот и я свалилась в такую же яму
234  Depression                         Вы перепутали с психологом

[12336 rows x 2 columns]

In [93]:
df = pd.read_excel('topic_politics.xlsx')
df

,Unnamed: 0,global_topic,theme_name,message_id,message_text,answer_to
0,21297,"Общество, политика и экономика",Агентство «ОБС»,108506,"Дружище! Я бы сказал по другому, это не лири...",108499
1,21298,"Общество, политика и экономика",Агентство «ОБС»,108509,Кто Вам сказал про всеобщее ликование?! Не бы...,108506
2,21299,"Общество, политика и экономика",Агентство «ОБС»,108514,"Дорогая моя, не моё это еврейское дело решать...",108509
3,21300,"Общество, политика и экономика",Агентство «ОБС»,108528,"Господь с Вами, я еще пока манией величия не ...",108514
4,21301,"Общество, политика и экономика",Агентство «ОБС»,108529,"Ну Вы девушка даёте! А Вы знаете, что когда ...",108528
...,...,...,...,...,...,...
2996,24293,"Общество, политика и экономика",Есть такая интересная статейка...,1128,"Не надо грустить). ""Особы, приближенные к импе...",no_ref
2997,24294,"Общество, политика и экономика",Есть такая интересная статейка...,1129,"да нет, увы... в том-то и грусть, что это боле...",no_ref
2998,24295,"Общество, политика и экономика",Есть такая интересная статейка...,1186,Если бы они ХОРОШО понимали последствия своих ...,no_ref
2999,24296,"Общество, политика и экономика",Есть такая интересная статейка...,1274,"Посмотрим, Господа. У Ющенко действительно по...",1186
3000,24297,"Общество, политика и экономика",Есть такая интересная статейка...,1290,"Паразит, который ""окончательно угробил"" то, за...",no_ref

In [94]:
df.loc[:, 'topic'] = ['Politics'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,global_topic,theme_name,message_id,text,answer_to,topic
0,21297,"Общество, политика и экономика",Агентство «ОБС»,108506,"Дружище! Я бы сказал по другому, это не лири...",108499,Politics
1,21298,"Общество, политика и экономика",Агентство «ОБС»,108509,Кто Вам сказал про всеобщее ликование?! Не бы...,108506,Politics
2,21299,"Общество, политика и экономика",Агентство «ОБС»,108514,"Дорогая моя, не моё это еврейское дело решать...",108509,Politics
3,21300,"Общество, политика и экономика",Агентство «ОБС»,108528,"Господь с Вами, я еще пока манией величия не ...",108514,Politics
4,21301,"Общество, политика и экономика",Агентство «ОБС»,108529,"Ну Вы девушка даёте! А Вы знаете, что когда ...",108528,Politics
...,...,...,...,...,...,...,...
2996,24293,"Общество, политика и экономика",Есть такая интересная статейка...,1128,"Не надо грустить). ""Особы, приближенные к импе...",no_ref,Politics
2997,24294,"Общество, политика и экономика",Есть такая интересная статейка...,1129,"да нет, увы... в том-то и грусть, что это боле...",no_ref,Politics
2998,24295,"Общество, политика и экономика",Есть такая интересная статейка...,1186,Если бы они ХОРОШО понимали последствия своих ...,no_ref,Politics
2999,24296,"Общество, политика и экономика",Есть такая интересная статейка...,1274,"Посмотрим, Господа. У Ющенко действительно по...",1186,Politics
3000,24297,"Общество, политика и экономика",Есть такая интересная статейка...,1290,"Паразит, который ""окончательно угробил"" то, за...",no_ref,Politics

In [95]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

         topic                                               text
0       Beauty  Кудри издавна считались особым элементом приче...
1       Beauty  Все время делаю себе кудри именно утюжком полу...
2       Beauty                      красиво то как, и я так хочу)
3       Beauty           красиво, но волосы портятся будь здоров)
4       Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...        ...                                                ...
2996  Politics  Не надо грустить). "Особы, приближенные к импе...
2997  Politics  да нет, увы... в том-то и грусть, что это боле...
2998  Politics  Если бы они ХОРОШО понимали последствия своих ...
2999  Politics   Посмотрим, Господа. У Ющенко действительно по...
3000  Politics  Паразит, который "окончательно угробил" то, за...

[15337 rows x 2 columns]

In [96]:
df = pd.read_excel('topic_religion.xlsx')
df

,Unnamed: 0,global_topic,theme_name,message_id,message_text,answer_to
0,16763,Непознанный Мир,Manual,1178,"""Непознанный мир""Предисловие.ПравилаМоральные ...",no_ref
1,16764,Непознанный Мир,Manual,1205,Волею судьбы в данном месте и в данное время я...,no_ref
2,16765,Непознанный Мир,Manual,1437,"Elv, ты прям писатель, хи-хи. Не лень было пис...",no_ref
3,16766,Непознанный Мир,Manual,1576,Очаровательная история получилась с навязчивым...,no_ref
4,16767,Непознанный Мир,Manual,4088,Дааа Предисловие - Вау! Но в детство меня точ...,no_ref
...,...,...,...,...,...,...
974,17737,Непознанный Мир,Душа,19841,"(Semiii @ 22.12.2006, 8:35) Мужики, за это на...",19812
975,17738,Непознанный Мир,Душа,19844,Карл Маркс отказал Вам в способности мыслить...,19837
976,17739,Непознанный Мир,Душа,19848,"Он отказал не мне лично, но как минимум нам с...",19844
977,17740,Непознанный Мир,Душа,19849,У меня на сегодня индульгенция от Маркса - к...,19848
978,17741,Непознанный Мир,Душа,19850,Кому-какер... Но платить за кефир придётся ...,19849

In [97]:
df.loc[:, 'topic'] = ['Religion'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,global_topic,theme_name,message_id,text,answer_to,topic
0,16763,Непознанный Мир,Manual,1178,"""Непознанный мир""Предисловие.ПравилаМоральные ...",no_ref,Religion
1,16764,Непознанный Мир,Manual,1205,Волею судьбы в данном месте и в данное время я...,no_ref,Religion
2,16765,Непознанный Мир,Manual,1437,"Elv, ты прям писатель, хи-хи. Не лень было пис...",no_ref,Religion
3,16766,Непознанный Мир,Manual,1576,Очаровательная история получилась с навязчивым...,no_ref,Religion
4,16767,Непознанный Мир,Manual,4088,Дааа Предисловие - Вау! Но в детство меня точ...,no_ref,Religion
...,...,...,...,...,...,...,...
974,17737,Непознанный Мир,Душа,19841,"(Semiii @ 22.12.2006, 8:35) Мужики, за это на...",19812,Religion
975,17738,Непознанный Мир,Душа,19844,Карл Маркс отказал Вам в способности мыслить...,19837,Religion
976,17739,Непознанный Мир,Душа,19848,"Он отказал не мне лично, но как минимум нам с...",19844,Religion
977,17740,Непознанный Мир,Душа,19849,У меня на сегодня индульгенция от Маркса - к...,19848,Religion
978,17741,Непознанный Мир,Душа,19850,Кому-какер... Но платить за кефир придётся ...,19849,Religion

In [98]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

        topic                                               text
0      Beauty  Кудри издавна считались особым элементом приче...
1      Beauty  Все время делаю себе кудри именно утюжком полу...
2      Beauty                      красиво то как, и я так хочу)
3      Beauty           красиво, но волосы портятся будь здоров)
4      Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..        ...                                                ...
974  Religion   (Semiii @ 22.12.2006, 8:35) Мужики, за это на...
975  Religion    Карл Маркс отказал Вам в способности мыслить...
976  Religion   Он отказал не мне лично, но как минимум нам с...
977  Religion    У меня на сегодня индульгенция от Маркса - к...
978  Religion   Кому-какер...   Но платить за кефир придётся ...

[16316 rows x 2 columns]

In [99]:
df = pd.read_csv('Education.csv')
df

,users,times,text,quote,topic
0,Автор,02 мая 2023,"Что за дурацкое понятие ""Голодный студент""? Го...",NaN,Education
1,Гость,02 мая 2023,"Опять тупая разводка. Скучно. Автор, иди на пи...",NaN,Education
2,🐸,02 мая 2023,Видимо с родителями у вас не хорошие отношения...,NaN,Education
3,Alex111,02 мая 2023,"> Что за дурацкое понятие ""Голодный студент""?П...",NaN,Education
4,Гость,02 мая 2023,"иди сараи чистить , кухаркина дочь",NaN,Education
...,...,...,...,...,...
2637,Гость,31 января,"По карманам лазят, да.Что не приятно. И скольк...",NaN,Education
2638,Гость,31 января,Да это наглость,NaN,Education
2639,Гость,01 февраля,"Не совсем понятно, у вас что-то типа абонемент...",NaN,Education
2640,Гость,01 февраля,"Нет это свободные занятия,но его жена мой препод","Не совсем понятно, у вас что-то типа абонемент...",Education
2641,Гость,01 февраля,Ну тогда он обалдел,"Нет это свободные занятия,но его жена мой препод",Education

In [100]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

          topic                                               text
0        Beauty  Кудри издавна считались особым элементом приче...
1        Beauty  Все время делаю себе кудри именно утюжком полу...
2        Beauty                      красиво то как, и я так хочу)
3        Beauty           красиво, но волосы портятся будь здоров)
4        Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...         ...                                                ...
2637  Education  По карманам лазят, да.Что не приятно. И скольк...
2638  Education                                    Да это наглость
2639  Education  Не совсем понятно, у вас что-то типа абонемент...
2640  Education   Нет это свободные занятия,но его жена мой препод
2641  Education                                Ну тогда он обалдел

[18958 rows x 2 columns]

In [101]:
df = pd.read_excel('topic_food.xlsx')
df

,Unnamed: 0,theme_name,message_id,author_id,message_text,answer_to
0,0,KitchenAid: за и против?,917187,Николь,Некоторое время назад попалась видюшка о комба...,None
1,1,KitchenAid: за и против?,917279,Петербурженка,"где купить оригинал, а не китай.На Амазоне.У м...",917187
2,2,KitchenAid: за и против?,917313,Алиса с чудесами,Очень распространённый бренд кухонной утвари в...,None
3,3,KitchenAid: за и против?,917318,Николь,"На АмазонеЭто нереально. Утром стулья, вечером...",917279
4,4,KitchenAid: за и против?,917319,Beata Fortunata,У меня мультиварка. У чаши через несколько мес...,None
...,...,...,...,...,...,...
5168,5168,"Варенье из киви, подскажите рецепты",301620,Stella,Так получилось что нам достался ящик киви из ...,None
5169,5169,"Варенье из киви, подскажите рецепты",301622,Thais,"знаю способ, как сохранить их свежими: еще нед...",None
5170,5170,"Варенье из киви, подскажите рецепты",301623,Stella,"/под ""очень базовым"" подразумеваю классическую...",None
5171,5171,"Варенье из киви, подскажите рецепты",301628,Thais,"с ваккумом у нас проблема, нет приспособления,...",None
5172,5172,"Варенье из киви, подскажите рецепты",313089,Stella,Таки я его сварила...но конечно не без ошибок:...,None

In [102]:
df.loc[:, 'topic'] = ['Food'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,theme_name,message_id,author_id,text,answer_to,topic
0,0,KitchenAid: за и против?,917187,Николь,Некоторое время назад попалась видюшка о комба...,None,Food
1,1,KitchenAid: за и против?,917279,Петербурженка,"где купить оригинал, а не китай.На Амазоне.У м...",917187,Food
2,2,KitchenAid: за и против?,917313,Алиса с чудесами,Очень распространённый бренд кухонной утвари в...,None,Food
3,3,KitchenAid: за и против?,917318,Николь,"На АмазонеЭто нереально. Утром стулья, вечером...",917279,Food
4,4,KitchenAid: за и против?,917319,Beata Fortunata,У меня мультиварка. У чаши через несколько мес...,None,Food
...,...,...,...,...,...,...,...
5168,5168,"Варенье из киви, подскажите рецепты",301620,Stella,Так получилось что нам достался ящик киви из ...,None,Food
5169,5169,"Варенье из киви, подскажите рецепты",301622,Thais,"знаю способ, как сохранить их свежими: еще нед...",None,Food
5170,5170,"Варенье из киви, подскажите рецепты",301623,Stella,"/под ""очень базовым"" подразумеваю классическую...",None,Food
5171,5171,"Варенье из киви, подскажите рецепты",301628,Thais,"с ваккумом у нас проблема, нет приспособления,...",None,Food
5172,5172,"Варенье из киви, подскажите рецепты",313089,Stella,Таки я его сварила...но конечно не без ошибок:...,None,Food

In [103]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

       topic                                               text
0     Beauty  Кудри издавна считались особым элементом приче...
1     Beauty  Все время делаю себе кудри именно утюжком полу...
2     Beauty                      красиво то как, и я так хочу)
3     Beauty           красиво, но волосы портятся будь здоров)
4     Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...      ...                                                ...
5168    Food  Так получилось  что нам достался ящик киви из ...
5169    Food  знаю способ, как сохранить их свежими: еще нед...
5170    Food  /под "очень базовым" подразумеваю классическую...
5171    Food  с ваккумом у нас проблема, нет приспособления,...
5172    Food  Таки я его сварила...но конечно не без ошибок:...

[24131 rows x 2 columns]

In [104]:
df = pd.read_excel('topic_music.xlsx')
df

,Unnamed: 0,global_topic,theme_name,message_id,message_text,answer_to
0,17742,Музыка,Ссылки на бесплатные сайты c mp3 музыкой,866,http://muzic.nnm.ru/black/</noindex> - Black/D...,no_ref
1,17743,Музыка,Ссылки на бесплатные сайты c mp3 музыкой,968,http://www.zachot.ru/</noindex> без регистрации,no_ref
2,17744,Музыка,Ссылки на бесплатные сайты c mp3 музыкой,1296,http://sovmusic.ru/</noindex> - хорошая коллек...,no_ref
3,17745,Музыка,Ссылки на бесплатные сайты c mp3 музыкой,1302,www.zaycev.net</noindex> - довольно много бесп...,no_ref
4,17746,Музыка,Ссылки на бесплатные сайты c mp3 музыкой,2492,http://hotcharts.ru/mp3/</noindex> - Отличный ...,no_ref
...,...,...,...,...,...,...
547,18289,Музыка,Откуда музончик? - Из Shop'а вестимо.,12214,еще одно доказательство приимущества ослаа за ...,no_ref
548,18290,Музыка,Откуда музончик? - Из Shop'а вестимо.,13547,"у меня довольно банальная ситуация,в инете я в...",no_ref
549,18291,Музыка,Откуда музончик? - Из Shop'а вестимо.,13548,качаю и c http и с p2p... Последний диск покуп...,no_ref
550,18292,Музыка,Откуда музончик? - Из Shop'а вестимо.,20363,А я больше покупаю..,no_ref
551,18293,Музыка,Правила раздела,450,"Пожалуйста, прочитайте внимательно!1. Подразде...",no_ref

In [105]:
df.loc[:, 'topic'] = ['Music'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,global_topic,theme_name,message_id,text,answer_to,topic
0,17742,Музыка,Ссылки на бесплатные сайты c mp3 музыкой,866,http://muzic.nnm.ru/black/</noindex> - Black/D...,no_ref,Music
1,17743,Музыка,Ссылки на бесплатные сайты c mp3 музыкой,968,http://www.zachot.ru/</noindex> без регистрации,no_ref,Music
2,17744,Музыка,Ссылки на бесплатные сайты c mp3 музыкой,1296,http://sovmusic.ru/</noindex> - хорошая коллек...,no_ref,Music
3,17745,Музыка,Ссылки на бесплатные сайты c mp3 музыкой,1302,www.zaycev.net</noindex> - довольно много бесп...,no_ref,Music
4,17746,Музыка,Ссылки на бесплатные сайты c mp3 музыкой,2492,http://hotcharts.ru/mp3/</noindex> - Отличный ...,no_ref,Music
...,...,...,...,...,...,...,...
547,18289,Музыка,Откуда музончик? - Из Shop'а вестимо.,12214,еще одно доказательство приимущества ослаа за ...,no_ref,Music
548,18290,Музыка,Откуда музончик? - Из Shop'а вестимо.,13547,"у меня довольно банальная ситуация,в инете я в...",no_ref,Music
549,18291,Музыка,Откуда музончик? - Из Shop'а вестимо.,13548,качаю и c http и с p2p... Последний диск покуп...,no_ref,Music
550,18292,Музыка,Откуда музончик? - Из Shop'а вестимо.,20363,А я больше покупаю..,no_ref,Music
551,18293,Музыка,Правила раздела,450,"Пожалуйста, прочитайте внимательно!1. Подразде...",no_ref,Music

In [106]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

      topic                                               text
0    Beauty  Кудри издавна считались особым элементом приче...
1    Beauty  Все время делаю себе кудри именно утюжком полу...
2    Beauty                      красиво то как, и я так хочу)
3    Beauty           красиво, но волосы портятся будь здоров)
4    Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..      ...                                                ...
547   Music  еще одно доказательство приимущества ослаа за ...
548   Music  у меня довольно банальная ситуация,в инете я в...
549   Music  качаю и c http и с p2p... Последний диск покуп...
550   Music                             А я больше покупаю..
551   Music  Пожалуйста, прочитайте внимательно!1. Подразде...

[24683 rows x 2 columns]

In [107]:
df = pd.read_excel('topic_movies&tv.xlsx')
df

,Unnamed: 0,theme_name,message_id,author_id,message_text,answer_to
0,0,"Фантастика, фэнтези, мистика - фильмы и сериалы",980116,Angl,Решила я таки открыть отдельную тему о своих л...,None
1,1,"Фантастика, фэнтези, мистика - фильмы и сериалы",980123,Mrs Darcy,Я с тобой! Мои любимые жанры тоже \n\n\n\n\n,None
2,2,"Фантастика, фэнтези, мистика - фильмы и сериалы",980135,Сон-трава,"А я тоже это люблю, но книги )\n\n\t\t\t\t\t\t...",None
3,3,"Фантастика, фэнтези, мистика - фильмы и сериалы",980143,Angl,"я тоже это люблю, но книги )А я и про книги хо...",980135
4,4,"Фантастика, фэнтези, мистика - фильмы и сериалы",980176,Lilla My,"Просто перечислю то, что сразу пришло на ум:Се...",None
...,...,...,...,...,...,...
1624,1624,"""Мама, а я русского люблю"" на Домашнем",874663,Irene,"сорри, если все испорчу , но в Москве тоже мог...",874657
1625,1625,"""Мама, а я русского люблю"" на Домашнем",874686,Алена,Честно говорят. Про сварливость - многие такие...,None
1626,1626,"""Мама, а я русского люблю"" на Домашнем",874690,Лёка,", мне так не кажется. Все очень и очень разные...",None
1627,1627,"""Мама, а я русского люблю"" на Домашнем",874715,Санечка,Мне показалось или в этой передаче все красиво...,None
1628,1628,"""Мама, а я русского люблю"" на Домашнем",874717,Esmer,"ага , я тоже об этом подумала .\n\n\t\t\t\t\t...",None

In [108]:
df.loc[:, 'topic'] = ['Movies&Tv'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,theme_name,message_id,author_id,text,answer_to,topic
0,0,"Фантастика, фэнтези, мистика - фильмы и сериалы",980116,Angl,Решила я таки открыть отдельную тему о своих л...,None,Movies&Tv
1,1,"Фантастика, фэнтези, мистика - фильмы и сериалы",980123,Mrs Darcy,Я с тобой! Мои любимые жанры тоже \n\n\n\n\n,None,Movies&Tv
2,2,"Фантастика, фэнтези, мистика - фильмы и сериалы",980135,Сон-трава,"А я тоже это люблю, но книги )\n\n\t\t\t\t\t\t...",None,Movies&Tv
3,3,"Фантастика, фэнтези, мистика - фильмы и сериалы",980143,Angl,"я тоже это люблю, но книги )А я и про книги хо...",980135,Movies&Tv
4,4,"Фантастика, фэнтези, мистика - фильмы и сериалы",980176,Lilla My,"Просто перечислю то, что сразу пришло на ум:Се...",None,Movies&Tv
...,...,...,...,...,...,...,...
1624,1624,"""Мама, а я русского люблю"" на Домашнем",874663,Irene,"сорри, если все испорчу , но в Москве тоже мог...",874657,Movies&Tv
1625,1625,"""Мама, а я русского люблю"" на Домашнем",874686,Алена,Честно говорят. Про сварливость - многие такие...,None,Movies&Tv
1626,1626,"""Мама, а я русского люблю"" на Домашнем",874690,Лёка,", мне так не кажется. Все очень и очень разные...",None,Movies&Tv
1627,1627,"""Мама, а я русского люблю"" на Домашнем",874715,Санечка,Мне показалось или в этой передаче все красиво...,None,Movies&Tv
1628,1628,"""Мама, а я русского люблю"" на Домашнем",874717,Esmer,"ага , я тоже об этом подумала .\n\n\t\t\t\t\t...",None,Movies&Tv

In [109]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

          topic                                               text
0        Beauty  Кудри издавна считались особым элементом приче...
1        Beauty  Все время делаю себе кудри именно утюжком полу...
2        Beauty                      красиво то как, и я так хочу)
3        Beauty           красиво, но волосы портятся будь здоров)
4        Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...         ...                                                ...
1624  Movies&Tv  сорри, если все испорчу , но в Москве тоже мог...
1625  Movies&Tv  Честно говорят. Про сварливость - многие такие...
1626  Movies&Tv  , мне так не кажется. Все очень и очень разные...
1627  Movies&Tv  Мне показалось или в этой передаче все красиво...
1628  Movies&Tv  ага , я тоже об этом подумала  .\n\n\t\t\t\t\t...

[26312 rows x 2 columns]

In [110]:
df = pd.read_excel('topic_clothes.xlsx')
df

,Unnamed: 0,global_topic,theme_name,message_id,message_text,answer_to
0,24674,Мода,Где покупаете модную одежду?,185685,Скоро уже нужно будет выходить на работу после...,no_ref
1,24675,Мода,Где покупаете модную одежду?,185686,"Я периодически устраиваю себе шоппинг, стараюс...",no_ref
2,24676,Мода,Где покупаете модную одежду?,185687,Я раньше многие вещи заказывала на иностранных...,no_ref
3,24677,Мода,Где покупаете модную одежду?,185688,Я тоже все никак не решусь покупать через инте...,no_ref
4,24678,Мода,Где покупаете модную одежду?,185730,"Я в бутике покупаю одежду, мне сложно подобрат...",no_ref
...,...,...,...,...,...,...
1041,25715,Мода,"Модные бусы, ожерелья, бархотки, цепочки....",3029,"Ainu, какой же стиль у тебя ?!? Миллитари? И ...",2978
1042,25716,Мода,"Модные бусы, ожерелья, бархотки, цепочки....",3033,Я даже не знаю как он называется. сама одеваюс...,no_ref
1043,25717,Мода,"Модные бусы, ожерелья, бархотки, цепочки....",3840,"а у меня подружка всё ходила, страдала, что у...",3033
1044,25718,Мода,"Модные бусы, ожерелья, бархотки, цепочки....",11525,"я тоже сама делаю,но много покупаю вот один на...",no_ref
1045,25719,Мода,"Модные бусы, ожерелья, бархотки, цепочки....",16811,"А мне длинные бусы нравятся, с разными прибамб...",no_ref

In [111]:
df.loc[:, 'topic'] = ['Clothes'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,global_topic,theme_name,message_id,text,answer_to,topic
0,24674,Мода,Где покупаете модную одежду?,185685,Скоро уже нужно будет выходить на работу после...,no_ref,Clothes
1,24675,Мода,Где покупаете модную одежду?,185686,"Я периодически устраиваю себе шоппинг, стараюс...",no_ref,Clothes
2,24676,Мода,Где покупаете модную одежду?,185687,Я раньше многие вещи заказывала на иностранных...,no_ref,Clothes
3,24677,Мода,Где покупаете модную одежду?,185688,Я тоже все никак не решусь покупать через инте...,no_ref,Clothes
4,24678,Мода,Где покупаете модную одежду?,185730,"Я в бутике покупаю одежду, мне сложно подобрат...",no_ref,Clothes
...,...,...,...,...,...,...,...
1041,25715,Мода,"Модные бусы, ожерелья, бархотки, цепочки....",3029,"Ainu, какой же стиль у тебя ?!? Миллитари? И ...",2978,Clothes
1042,25716,Мода,"Модные бусы, ожерелья, бархотки, цепочки....",3033,Я даже не знаю как он называется. сама одеваюс...,no_ref,Clothes
1043,25717,Мода,"Модные бусы, ожерелья, бархотки, цепочки....",3840,"а у меня подружка всё ходила, страдала, что у...",3033,Clothes
1044,25718,Мода,"Модные бусы, ожерелья, бархотки, цепочки....",11525,"я тоже сама делаю,но много покупаю вот один на...",no_ref,Clothes
1045,25719,Мода,"Модные бусы, ожерелья, бархотки, цепочки....",16811,"А мне длинные бусы нравятся, с разными прибамб...",no_ref,Clothes

In [112]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

        topic                                               text
0      Beauty  Кудри издавна считались особым элементом приче...
1      Beauty  Все время делаю себе кудри именно утюжком полу...
2      Beauty                      красиво то как, и я так хочу)
3      Beauty           красиво, но волосы портятся будь здоров)
4      Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...       ...                                                ...
1041  Clothes   Ainu, какой же стиль у тебя ?!? Миллитари? И ...
1042  Clothes  Я даже не знаю как он называется. сама одеваюс...
1043  Clothes   а у меня подружка всё ходила, страдала, что у...
1044  Clothes  я тоже сама делаю,но много покупаю вот один на...
1045  Clothes  А мне длинные бусы нравятся, с разными прибамб...

[27358 rows x 2 columns]

In [113]:
df = pd.read_excel('topic_videogames.xlsx')
df

,Unnamed: 0,global_topic,theme_name,message_id,message_text,answer_to
0,40047,Компьютерные игры,Все что нужно знать,196846,Есть ли здесь знатоки азартных игр? хочется вы...,no_ref
1,40048,Компьютерные игры,Все что нужно знать,196847,"Не могу сказать, что я такой уж гуру этих все...",196846
2,40049,Компьютерные игры,Все что нужно знать,196850,О спасибо тебе добрый человек. Я сию минуту не...,no_ref
3,40050,Компьютерные игры,Все что нужно знать,197222,"Всем привет. Казино очень хорошая вещь, не зна...",no_ref
4,40051,Компьютерные игры,Все что нужно знать,197884,"Это только кажется, что много разных казино, ч...",no_ref
...,...,...,...,...,...,...
668,40715,Компьютерные игры,Мини-конкурс №1,4332,А может 9550,no_ref
669,40716,Компьютерные игры,Мини-конкурс №1,4371,"нет, всё не правильно подсказка: на конце два ...",no_ref
670,40717,Компьютерные игры,Мини-конкурс №1,4396,6800,no_ref
671,40718,Компьютерные игры,Мини-конкурс №1,4398,"нет, а чё, разве такой радеон есть?",no_ref
672,40719,Компьютерные игры,Мини-конкурс №1,4401,А хрен его знает Пальцем в небо сказал))))))Е...,no_ref

In [114]:
df.loc[:, 'topic'] = ['Videogames'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,global_topic,theme_name,message_id,text,answer_to,topic
0,40047,Компьютерные игры,Все что нужно знать,196846,Есть ли здесь знатоки азартных игр? хочется вы...,no_ref,Videogames
1,40048,Компьютерные игры,Все что нужно знать,196847,"Не могу сказать, что я такой уж гуру этих все...",196846,Videogames
2,40049,Компьютерные игры,Все что нужно знать,196850,О спасибо тебе добрый человек. Я сию минуту не...,no_ref,Videogames
3,40050,Компьютерные игры,Все что нужно знать,197222,"Всем привет. Казино очень хорошая вещь, не зна...",no_ref,Videogames
4,40051,Компьютерные игры,Все что нужно знать,197884,"Это только кажется, что много разных казино, ч...",no_ref,Videogames
...,...,...,...,...,...,...,...
668,40715,Компьютерные игры,Мини-конкурс №1,4332,А может 9550,no_ref,Videogames
669,40716,Компьютерные игры,Мини-конкурс №1,4371,"нет, всё не правильно подсказка: на конце два ...",no_ref,Videogames
670,40717,Компьютерные игры,Мини-конкурс №1,4396,6800,no_ref,Videogames
671,40718,Компьютерные игры,Мини-конкурс №1,4398,"нет, а чё, разве такой радеон есть?",no_ref,Videogames
672,40719,Компьютерные игры,Мини-конкурс №1,4401,А хрен его знает Пальцем в небо сказал))))))Е...,no_ref,Videogames

In [115]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

          topic                                               text
0        Beauty  Кудри издавна считались особым элементом приче...
1        Beauty  Все время делаю себе кудри именно утюжком полу...
2        Beauty                      красиво то как, и я так хочу)
3        Beauty           красиво, но волосы портятся будь здоров)
4        Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..          ...                                                ...
668  Videogames                                       А может 9550
669  Videogames  нет, всё не правильно подсказка: на конце два ...
670  Videogames                                               6800
671  Videogames                нет, а чё, разве такой радеон есть?
672  Videogames  А хрен его знает  Пальцем в небо сказал))))))Е...

[28031 rows x 2 columns]

In [116]:
df = pd.read_excel('topic_home&design.xlsx')
df

,Unnamed: 0,theme_name,message_id,author_id,message_text,answer_to
0,0,Если мужчина живёт в съемной квартире,724381,Bisou,Задумалась.. Если мужчина живёт в съемном жиль...,None
1,1,Если мужчина живёт в съемной квартире,724415,Морская,Задумалась.. Если мужчина живёт в съемном жиль...,None
2,2,Если мужчина живёт в съемной квартире,724416,Also,"мы с мужем снимаем. Ему 44. Дом имеют те, кто...",None
3,3,Если мужчина живёт в съемной квартире,724418,Frufru,"Если мужчина живёт в съемном жилье, это как!? ...",None
4,4,Если мужчина живёт в съемной квартире,724432,Duda Volescu,"Если мужчина живёт в съемном жилье, это как!? ...",None
...,...,...,...,...,...,...
2595,2595,Сама садик я садила,40515,Mamaja,есть ли какие-то фишки при посадке цветов? ил...,None
2596,2596,Сама садик я садила,40517,Angl,ты себе нашла занятие - прощай маникюр (быстро...,None
2597,2597,Сама садик я садила,40518,Mamaja,"Еще куплю гороха раз так растет!!!Ань, если ...",None
2598,2598,Сама садик я садила,40558,Anna_55,"Я даже не знаю какой сорт ,просто нахватала ...",None
2599,2599,Сама садик я садила,40679,Mamaja,(быстро прячет руки за спину)Гордо глядя на св...,None

In [117]:
df.loc[:, 'topic'] = ['Home&Design'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,theme_name,message_id,author_id,text,answer_to,topic
0,0,Если мужчина живёт в съемной квартире,724381,Bisou,Задумалась.. Если мужчина живёт в съемном жиль...,None,Home&Design
1,1,Если мужчина живёт в съемной квартире,724415,Морская,Задумалась.. Если мужчина живёт в съемном жиль...,None,Home&Design
2,2,Если мужчина живёт в съемной квартире,724416,Also,"мы с мужем снимаем. Ему 44. Дом имеют те, кто...",None,Home&Design
3,3,Если мужчина живёт в съемной квартире,724418,Frufru,"Если мужчина живёт в съемном жилье, это как!? ...",None,Home&Design
4,4,Если мужчина живёт в съемной квартире,724432,Duda Volescu,"Если мужчина живёт в съемном жилье, это как!? ...",None,Home&Design
...,...,...,...,...,...,...,...
2595,2595,Сама садик я садила,40515,Mamaja,есть ли какие-то фишки при посадке цветов? ил...,None,Home&Design
2596,2596,Сама садик я садила,40517,Angl,ты себе нашла занятие - прощай маникюр (быстро...,None,Home&Design
2597,2597,Сама садик я садила,40518,Mamaja,"Еще куплю гороха раз так растет!!!Ань, если ...",None,Home&Design
2598,2598,Сама садик я садила,40558,Anna_55,"Я даже не знаю какой сорт ,просто нахватала ...",None,Home&Design
2599,2599,Сама садик я садила,40679,Mamaja,(быстро прячет руки за спину)Гордо глядя на св...,None,Home&Design

In [118]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

            topic                                               text
0          Beauty  Кудри издавна считались особым элементом приче...
1          Beauty  Все время делаю себе кудри именно утюжком полу...
2          Beauty                      красиво то как, и я так хочу)
3          Beauty           красиво, но волосы портятся будь здоров)
4          Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...           ...                                                ...
2595  Home&Design   есть ли какие-то фишки при посадке цветов? ил...
2596  Home&Design  ты себе нашла занятие - прощай маникюр (быстро...
2597  Home&Design   Еще куплю  гороха раз так растет!!!Ань, если ...
2598  Home&Design  Я даже не знаю какой сорт   ,просто нахватала ...
2599  Home&Design  (быстро прячет руки за спину)Гордо глядя на св...

[30631 rows x 2 columns]

In [119]:
df = pd.read_excel('health&medicine.xlsx')
df

,Unnamed: 0,global_topic,theme_name,message_id,message_text,answer_to
0,30258,Красота и Здоровье,ЭЭГ,198246,"Друзья, у сына подростка случился непонятный п...",no_ref
1,30259,Красота и Здоровье,ЭЭГ,198249,В ближайшую поликлинику обращались? Я делала с...,no_ref
2,30260,Красота и Здоровье,ЭЭГ,198253,Послушайте мой совет. Если у вас есть средства...,no_ref
3,30261,Красота и Здоровье,ЭЭГ,198254,"Прислушайтесь к совету, в этом есть смысл. И п...",no_ref
4,30262,Красота и Здоровье,ЭЭГ,198418,"Правильно делаете, что не выбираете первую поп...",no_ref
...,...,...,...,...,...,...
4100,34359,Красота и Здоровье,Весна - время позаботиться о состоянн печени.,56798,нет,no_ref
4101,34360,Красота и Здоровье,Весна - время позаботиться о состоянн печени.,56988,с барбарисом не пробовала. а вот совет для рук...,no_ref
4102,34361,Красота и Здоровье,Весна - время позаботиться о состоянн печени.,57362,Вообще мне подобная профилактика тоже оч симп...,56797
4103,34362,Красота и Здоровье,Весна - время позаботиться о состоянн печени.,58090,Барбарис мне посоветовали пить так. 10 дней за...,no_ref
4104,34363,Красота и Здоровье,Весна - время позаботиться о состоянн печени.,58142,''Печень включает в себя анатомический орган.....,no_ref

In [120]:
df.loc[:, 'topic'] = ['Health&Medicine'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,global_topic,theme_name,message_id,text,answer_to,topic
0,30258,Красота и Здоровье,ЭЭГ,198246,"Друзья, у сына подростка случился непонятный п...",no_ref,Health&Medicine
1,30259,Красота и Здоровье,ЭЭГ,198249,В ближайшую поликлинику обращались? Я делала с...,no_ref,Health&Medicine
2,30260,Красота и Здоровье,ЭЭГ,198253,Послушайте мой совет. Если у вас есть средства...,no_ref,Health&Medicine
3,30261,Красота и Здоровье,ЭЭГ,198254,"Прислушайтесь к совету, в этом есть смысл. И п...",no_ref,Health&Medicine
4,30262,Красота и Здоровье,ЭЭГ,198418,"Правильно делаете, что не выбираете первую поп...",no_ref,Health&Medicine
...,...,...,...,...,...,...,...
4100,34359,Красота и Здоровье,Весна - время позаботиться о состоянн печени.,56798,нет,no_ref,Health&Medicine
4101,34360,Красота и Здоровье,Весна - время позаботиться о состоянн печени.,56988,с барбарисом не пробовала. а вот совет для рук...,no_ref,Health&Medicine
4102,34361,Красота и Здоровье,Весна - время позаботиться о состоянн печени.,57362,Вообще мне подобная профилактика тоже оч симп...,56797,Health&Medicine
4103,34362,Красота и Здоровье,Весна - время позаботиться о состоянн печени.,58090,Барбарис мне посоветовали пить так. 10 дней за...,no_ref,Health&Medicine
4104,34363,Красота и Здоровье,Весна - время позаботиться о состоянн печени.,58142,''Печень включает в себя анатомический орган.....,no_ref,Health&Medicine

In [121]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

                topic                                               text
0              Beauty  Кудри издавна считались особым элементом приче...
1              Beauty  Все время делаю себе кудри именно утюжком полу...
2              Beauty                      красиво то как, и я так хочу)
3              Beauty           красиво, но волосы портятся будь здоров)
4              Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...               ...                                                ...
4100  Health&Medicine                                                нет
4101  Health&Medicine  с барбарисом не пробовала. а вот совет для рук...
4102  Health&Medicine   Вообще мне подобная профилактика тоже оч симп...
4103  Health&Medicine  Барбарис мне посоветовали пить так. 10 дней за...
4104  Health&Medicine  ''Печень включает в себя анатомический орган.....

[34736 rows x 2 columns]

In [122]:
df = pd.read_excel('topic_finance.xlsx')
df

,Unnamed: 0,theme_name,message_id,author_id,message_text,answer_to
0,0,Стоимость жизни в США,372168,Fay,Реально ли жить в США на $3 000 или даже 2 000...,None
1,1,Стоимость жизни в США,372172,Honey,Реально ли жить в США на $3 000 или даже 2 000...,None
2,2,Стоимость жизни в США,372174,Fay,писал(а):Реально ли жить в США на $3 000 или ...,None
3,3,Стоимость жизни в США,372192,IrinaRose,"Какой должен быть доход у мч, чтобы ему разреш...",None
4,4,Стоимость жизни в США,372194,Fay,"Про одежду я спрашивала у американцев, цены пр...",None
...,...,...,...,...,...,...
1627,1627,Отправка посылки из России за границу,303820,Windy,Почитала на сайтах. Прям оч сложно все. И декл...,None
1628,1628,Отправка посылки из России за границу,303824,Мила,Моя подруга в Грецию дочке посылки шлет просто...,None
1629,1629,Отправка посылки из России за границу,304238,Greensleeves,Код: Выделить всёПочитала на сайтах. Прям оч с...,None
1630,1630,Отправка посылки из России за границу,304250,Windy,"Вот здесь ""ИнвойсЗаполняется на русском языке ...",None
1631,1631,Отправка посылки из России за границу,304286,Омичка,Я отправляла свои вещи в Бельгию EMS. Очень по...,None

In [123]:
df.loc[:, 'topic'] = ['Finance'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,theme_name,message_id,author_id,text,answer_to,topic
0,0,Стоимость жизни в США,372168,Fay,Реально ли жить в США на $3 000 или даже 2 000...,None,Finance
1,1,Стоимость жизни в США,372172,Honey,Реально ли жить в США на $3 000 или даже 2 000...,None,Finance
2,2,Стоимость жизни в США,372174,Fay,писал(а):Реально ли жить в США на $3 000 или ...,None,Finance
3,3,Стоимость жизни в США,372192,IrinaRose,"Какой должен быть доход у мч, чтобы ему разреш...",None,Finance
4,4,Стоимость жизни в США,372194,Fay,"Про одежду я спрашивала у американцев, цены пр...",None,Finance
...,...,...,...,...,...,...,...
1627,1627,Отправка посылки из России за границу,303820,Windy,Почитала на сайтах. Прям оч сложно все. И декл...,None,Finance
1628,1628,Отправка посылки из России за границу,303824,Мила,Моя подруга в Грецию дочке посылки шлет просто...,None,Finance
1629,1629,Отправка посылки из России за границу,304238,Greensleeves,Код: Выделить всёПочитала на сайтах. Прям оч с...,None,Finance
1630,1630,Отправка посылки из России за границу,304250,Windy,"Вот здесь ""ИнвойсЗаполняется на русском языке ...",None,Finance
1631,1631,Отправка посылки из России за границу,304286,Омичка,Я отправляла свои вещи в Бельгию EMS. Очень по...,None,Finance

In [124]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

        topic                                               text
0      Beauty  Кудри издавна считались особым элементом приче...
1      Beauty  Все время делаю себе кудри именно утюжком полу...
2      Beauty                      красиво то как, и я так хочу)
3      Beauty           красиво, но волосы портятся будь здоров)
4      Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...       ...                                                ...
1627  Finance  Почитала на сайтах. Прям оч сложно все. И декл...
1628  Finance  Моя подруга в Грецию дочке посылки шлет просто...
1629  Finance  Код: Выделить всёПочитала на сайтах. Прям оч с...
1630  Finance  Вот здесь "ИнвойсЗаполняется на русском языке ...
1631  Finance  Я отправляла свои вещи в Бельгию EMS. Очень по...

[36368 rows x 2 columns]

In [125]:
df = pd.read_csv('Art&Hobbies.csv')
df

,users,text,times,topic,quote
0,sev6,"Любимый учился в экономическом, создавал разны...",18 авг 2019,Art&Hobbies,NaN
1,Екатерина Дятлова,"Мне видео, очень понравилось.. Рассказано все...",15 окт 2019,Art&Hobbies,NaN
2,sev6,"Так приятно, спасибо",12 ноя 2019,Art&Hobbies,"Мне видео, очень понравилось.. Рассказано все..."
3,belle34,Очень интересно! И главное не затянуто.)будем...,9 янв 2020,Art&Hobbies,NaN
4,sev6,"Узнала, что этот Джеймс Сидис знал от 4 до 2 ...",1 мар 2020,Art&Hobbies,NaN
...,...,...,...,...,...
326,VioleY,я задумывалась о лове-фотосессии) было бы при...,16 авг 2016,Art&Hobbies,NaN
327,gfoi,Сейчас найти хорошую студию не так и легко.. ...,17 авг 2016,Art&Hobbies,сходите на фотосессию - будут вам классные фо...
328,Гость Nli,"Большое вам спасибо за этот курс, за терпение ...",11 фев 2016,Art&Hobbies,NaN
329,Мася,Подруга подарила на день рождения краски для т...,2 фев 2016,Art&Hobbies,NaN
330,Ley,"Да, действительно тяжко выбрать красивый рису...",2 фев 2016,Art&Hobbies,NaN

In [126]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

            topic                                               text
0          Beauty  Кудри издавна считались особым элементом приче...
1          Beauty  Все время делаю себе кудри именно утюжком полу...
2          Beauty                      красиво то как, и я так хочу)
3          Beauty           красиво, но волосы портятся будь здоров)
4          Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..            ...                                                ...
326   Art&Hobbies   я задумывалась о лове-фотосессии) было бы при...
327   Art&Hobbies   Сейчас найти хорошую студию не так и легко.. ...
328   Art&Hobbies  Большое вам спасибо за этот курс, за терпение ...
329   Art&Hobbies  Подруга подарила на день рождения краски для т...
330   Art&Hobbies   Да, действительно тяжко выбрать красивый рису...

[36699 rows x 2 columns]

In [127]:
df = pd.read_csv('Animals&Pets.csv')
df

,text,quote,users,topic,times
0,Устроим голосование по домашним питомцам,NaN,Гость,Animals&Pets,21 мар 2019
1,Ребёнок очень просит эту милую зверушку. Вопро...,NaN,coed,Animals&Pets,3 авг 2020
2,Кролика хотите покупать?Их в квартире держат ...,NaN,Fd,Animals&Pets,5 авг 2020
3,а почему в питомнике?,NaN,KeyK,Animals&Pets,5 авг 2020
4,Мне очень понравился питомник «Царский кролик...,NaN,iki,Animals&Pets,10 авг 2020
...,...,...,...,...,...
393,моя бы кошка в первый день все эти насадки по...,NaN,Jue,Animals&Pets,17 окт 2016
394,В таких насадках кошке будет жутко неудобно х...,NaN,OlgOlg_5,Animals&Pets,7 ноя 2016
395,,В таких насадках кошке будет жутко неудобно х...,LolkBlbolk,Animals&Pets,6 янв 2017
396,антицарапки под цвет глаз. Очень гармонично с...,NaN,Ylli,Animals&Pets,1 фев 2017
397,"у меня ходят без этих насадок, точат когти св...",NaN,Xuos,Animals&Pets,1 фев 2017

In [128]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

             topic                                               text
0           Beauty  Кудри издавна считались особым элементом приче...
1           Beauty  Все время делаю себе кудри именно утюжком полу...
2           Beauty                      красиво то как, и я так хочу)
3           Beauty           красиво, но волосы портятся будь здоров)
4           Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..             ...                                                ...
393   Animals&Pets   моя бы кошка в первый день все эти насадки по...
394   Animals&Pets   В таких насадках кошке будет жутко неудобно х...
395   Animals&Pets
396   Animals&Pets   антицарапки под цвет глаз. Очень гармонично с...
397   Animals&Pets   у меня ходят без этих насадок, точат когти св...

[37097 rows x 2 columns]

In [129]:
df = pd.read_excel('topic_animals&pets.xlsx')
df

,Unnamed: 0,theme_name,message_id,author_id,message_text,answer_to
0,0,Конфликт с мамой из за кошки,1393350,Mariot,"Девочки, привет! Я никогда не думала, что окаж...",None
1,1,Конфликт с мамой из за кошки,1393353,Нина,Ваша мама в своем доме имеет право разрешать к...,None
2,2,Конфликт с мамой из за кошки,1393354,Mariot,"Я тоже думаю, что так проявились старые обиды...",None
3,3,Конфликт с мамой из за кошки,1393356,Адреналинка,", я думаю, что надо стараться сохранять хороши...",None
4,4,Конфликт с мамой из за кошки,1393357,Polo,Мой покойный муж был большой чистюля. Видел на...,None
...,...,...,...,...,...,...
1175,1175,Про жизнь американских собак,368386,Barbariska,", ей вроде нравиться. Она поняла что дом лучше...",None
1176,1176,Про жизнь американских собак,368388,Honey,Просто какой-то собачий рай. \n\n\n\n\n,None
1177,1177,Про жизнь американских собак,368419,None,"Мда, даже к собакинам там по человечески относ...",None
1178,1178,Про жизнь американских собак,368474,Катюша,"Какая насыщенная светская жизнь! Конечно, в ...",None
1179,1179,Про жизнь американских собак,368476,Barbariska,Да уж у собак тут малина. У нас даже строите...,None

In [130]:
df.loc[:, 'topic'] = ['Animals&Pets'] * len(df)
df.rename(columns={"message_text": "text"}, inplace=True)
df

,Unnamed: 0,theme_name,message_id,author_id,text,answer_to,topic
0,0,Конфликт с мамой из за кошки,1393350,Mariot,"Девочки, привет! Я никогда не думала, что окаж...",None,Animals&Pets
1,1,Конфликт с мамой из за кошки,1393353,Нина,Ваша мама в своем доме имеет право разрешать к...,None,Animals&Pets
2,2,Конфликт с мамой из за кошки,1393354,Mariot,"Я тоже думаю, что так проявились старые обиды...",None,Animals&Pets
3,3,Конфликт с мамой из за кошки,1393356,Адреналинка,", я думаю, что надо стараться сохранять хороши...",None,Animals&Pets
4,4,Конфликт с мамой из за кошки,1393357,Polo,Мой покойный муж был большой чистюля. Видел на...,None,Animals&Pets
...,...,...,...,...,...,...,...
1175,1175,Про жизнь американских собак,368386,Barbariska,", ей вроде нравиться. Она поняла что дом лучше...",None,Animals&Pets
1176,1176,Про жизнь американских собак,368388,Honey,Просто какой-то собачий рай. \n\n\n\n\n,None,Animals&Pets
1177,1177,Про жизнь американских собак,368419,None,"Мда, даже к собакинам там по человечески относ...",None,Animals&Pets
1178,1178,Про жизнь американских собак,368474,Катюша,"Какая насыщенная светская жизнь! Конечно, в ...",None,Animals&Pets
1179,1179,Про жизнь американских собак,368476,Barbariska,Да уж у собак тут малина. У нас даже строите...,None,Animals&Pets

In [131]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

             topic                                               text
0           Beauty  Кудри издавна считались особым элементом приче...
1           Beauty  Все время делаю себе кудри именно утюжком полу...
2           Beauty                      красиво то как, и я так хочу)
3           Beauty           красиво, но волосы портятся будь здоров)
4           Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...            ...                                                ...
1175  Animals&Pets  , ей вроде нравиться. Она поняла что дом лучше...
1176  Animals&Pets           Просто какой-то собачий рай.  \n\n\n\n\n
1177  Animals&Pets  Мда, даже к собакинам там по человечески относ...
1178  Animals&Pets  Какая насыщенная светская жизнь!   Конечно, в ...
1179  Animals&Pets  Да уж у собак тут малина.   У нас даже строите...

[38277 rows x 2 columns]

In [132]:
df = pd.read_csv('Family&Relationships.csv')
df

,topic,times,text,users,quote
0,Family&Relationships,NaN,"Как считаете, что может сохранить семью, когда...",NaN,NaN
1,Family&Relationships,NaN,У меня подруга тоже была на грани развода. По...,NaN,NaN
2,Family&Relationships,NaN,"Считаю, что ребенка надо рожать. Если семья н...",NaN,NaN
3,Family&Relationships,NaN,"Согласна с Симпатягой, в любом случае ребенок...",NaN,NaN
4,Family&Relationships,NaN,"Согласна со всеми. Надо рожать. Родит, может ...",NaN,NaN
...,...,...,...,...,...
667,Family&Relationships,NaN,"Нет, не совсем психолог... Там другое. Я ходи...",NaN,NaN
668,Family&Relationships,NaN,Я сделала запрос по инету. Это ее сайтysev.cl...,NaN,NaN
669,Family&Relationships,NaN,"Ага, да, это она и есть. Видите, кстати, там ...",NaN,NaN
670,Family&Relationships,NaN,"уходите, хоть это и сложно. это ж всю жизнь н...",NaN,NaN
671,Family&Relationships,NaN,"Я ушла от своего, но сначала, как тут писали ...",NaN,NaN

In [133]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

                    topic                                               text
0                  Beauty  Кудри издавна считались особым элементом приче...
1                  Beauty  Все время делаю себе кудри именно утюжком полу...
2                  Beauty                      красиво то как, и я так хочу)
3                  Beauty           красиво, но волосы портятся будь здоров)
4                  Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..                    ...                                                ...
667  Family&Relationships   Нет, не совсем психолог... Там другое. Я ходи...
668  Family&Relationships   Я сделала запрос по инету. Это ее сайтysev.cl...
669  Family&Relationships   Ага, да, это она и есть. Видите, кстати, там ...
670  Family&Relationships   уходите, хоть это и сложно. это ж всю жизнь н...
671  Family&Relationships   Я ушла от своего, но сначала, как тут писали ...

[38949 rows x 2 columns]

In [134]:
df = pd.read_csv('Family&Relationships_1.csv')
df

,topic,quote,text,times,users
0,Family&Relationships,NaN,"Тетиньки ,привожу несколько причин почему у му...",NaN,NaN
1,Family&Relationships,NaN,"Интересные доводы))Но вообще,могут же быть и ...",NaN,NaN
2,Family&Relationships,NaN,"прямо с языка сняла,это действительно работае...",NaN,NaN
3,Family&Relationships,NaN,просто для женщины это не такое уж и наказание.,NaN,NaN
4,Family&Relationships,NaN,"Сходите к сексологу, попробуйте разнообразить...",NaN,NaN
...,...,...,...,...,...
1743,Family&Relationships,NaN,"Мне ещё пока не 45+, но могу сказать за своих...",NaN,NaN
1744,Family&Relationships,NaN,В моей ситуации немного обидно: хотелось бы о...,NaN,NaN
1745,Family&Relationships,NaN,"Девочки, это миф или все же реальность, когда ...",NaN,NaN
1746,Family&Relationships,NaN,"Я думаю, что кому как везет. Кому-то и ягодка...",NaN,NaN
1747,Family&Relationships,NaN,"Ну смотря какая семья. Реально. Бывает, что ж...",NaN,NaN

In [135]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

                     topic                                               text
0                   Beauty  Кудри издавна считались особым элементом приче...
1                   Beauty  Все время делаю себе кудри именно утюжком полу...
2                   Beauty                      красиво то как, и я так хочу)
3                   Beauty           красиво, но волосы портятся будь здоров)
4                   Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...                    ...                                                ...
1743  Family&Relationships   Мне ещё пока не 45+, но могу сказать за своих...
1744  Family&Relationships   В моей ситуации немного обидно: хотелось бы о...
1745  Family&Relationships  Девочки, это миф или все же реальность, когда ...
1746  Family&Relationships   Я думаю, что кому как везет. Кому-то и ягодка...
1747  Family&Relationships   Ну смотря какая семья. Реально. Бывает, что ж...

[40697 rows x 2 columns]

In [136]:
df = pd.read_csv('Job_1.csv')
df

,users,text,quote,topic,times
0,Rebbekk,"Девочки, очень хочу научится делать перманентн...",NaN,Job,12 ноя 2016
1,Серсея,"Правильно рассуждаете, меня в свое время подт...",NaN,Job,12 ноя 2016
2,Rebbekk,"Спасибо за совет. Все вроде хорошо, но то, чт...",NaN,Job,12 ноя 2016
3,Серсея,"Нет, ну что Вы, это совершенно неважно мастер...",NaN,Job,12 ноя 2016
4,Rebbekk,Конечно по перманентному макияжу в Москве шко...,NaN,Job,13 ноя 2016
...,...,...,...,...,...
347,Di,Я бы так не смогла и не стала бы делать. Сего...,NaN,Job,24 июл 2015
348,Ливадина,"Я бы выбрала лет до 3 карьеру, а потом можно ...",NaN,Job,25 июл 2015
349,Glo4k,Вполне можно совмещать и карьеры и воспитание...,NaN,Job,25 июл 2015
350,Настасья,"Я бы конечно выбрала детей, какой смысл коряч...",NaN,Job,25 июл 2015
351,Елена Бондаренко,Естественно семья),NaN,Job,30 дек 2015

In [137]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

      topic                                               text
0    Beauty  Кудри издавна считались особым элементом приче...
1    Beauty  Все время делаю себе кудри именно утюжком полу...
2    Beauty                      красиво то как, и я так хочу)
3    Beauty           красиво, но волосы портятся будь здоров)
4    Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..      ...                                                ...
347     Job   Я бы так не смогла и не стала бы делать. Сего...
348     Job   Я бы выбрала лет до 3 карьеру, а потом можно ...
349     Job   Вполне можно совмещать и карьеры и воспитание...
350     Job   Я бы конечно выбрала детей, какой смысл коряч...
351     Job                                 Естественно семья)

[41049 rows x 2 columns]

In [138]:
df = pd.read_csv('Travel_1.csv')
df

,text,quote,users,times,topic
0,"Поделитесь, пожалуйста кто где путешествует ?Е...",NaN,Гость,21 мар 2019,Travel
1,"Пока что нашему сервису очень далеко от, скаж...",NaN,Jsmiie,1 июн 2019,Travel
2,"Везде, где есть что посмотреть)",NaN,Golubk,30 янв 2021,Travel
3,Куда вы хотите поехать в отпуск? Я бы с удовол...,NaN,Дарина,18 апр 2016,Travel
4,"Говорят, что на Кипр дешевле и на Крит тоже. ...",NaN,Миленькая),18 апр 2016,Travel
...,...,...,...,...,...
373,"Классно там, судя по всему... жаль только на ...",NaN,posomy,7 сен 2016,Travel
374,"Если именно в России хотите, тогда только Соч...",NaN,Lolly_Polly,8 сен 2016,Travel
375,"Да мне кажется, недорого сейчас не найдешь ни...",NaN,posomy,13 сен 2016,Travel
376,"Всем добрый день! Кто отдыхал в Подмосковье, п...",NaN,Muly,5 июл 2016,Travel
377,"Позвоните в МедСити, они помогут вам выбрать ...",NaN,Kuochk,6 июл 2016,Travel

In [139]:
topic_data = topic_data.append(df[['text', 'topic']])
topic_data

       topic                                               text
0     Beauty  Кудри издавна считались особым элементом приче...
1     Beauty  Все время делаю себе кудри именно утюжком полу...
2     Beauty                      красиво то как, и я так хочу)
3     Beauty           красиво, но волосы портятся будь здоров)
4     Beauty  Это точно, от плоек и утюжков волосы сильнее п...
..       ...                                                ...
373   Travel   Классно там, судя по всему... жаль только на ...
374   Travel   Если именно в России хотите, тогда только Соч...
375   Travel   Да мне кажется, недорого сейчас не найдешь ни...
376   Travel  Всем добрый день! Кто отдыхал в Подмосковье, п...
377   Travel   Позвоните в МедСити, они помогут вам выбрать ...

[41427 rows x 2 columns]

In [140]:
from sklearn.model_selection import train_test_split

In [141]:
sport_train = pd.read_csv('sport_train.csv')
sport_train

,oid,category,text
0,365271984,winter_sport,Волшебные фото Виктория Поплавская ЕвгенияМедв...
1,503385563,extreme,Возвращение в подземелье Треша 33 Эйфория тупо...
2,146016084,football,Лучшие чешские вратари – Доминик Доминатор Гаш...
3,933865449,boardgames,Rtokenoid Warhammer40k валрак решил нас подкор...
4,713550145,hockey,Шестеркин затаскивает Рейнджерс в финал Восточ...
...,...,...,...
38735,910636962,autosport,8 битная буря снова накрыла пикселями автомоби...
38736,669736851,autosport,Ира Сидоркова объясняет как сказалась на ее ма...
38737,558919241,tennis,24 я ракетка мира хорват Марин Чилич обыграл и...
38738,776944963,volleyball,Стал известен календарь мужской сборной России...
38739,577334983,hockey,Первенство ВХЛ. Первый этап Динамо Алтай Бн ЦС...

In [142]:
sport_test = pd.read_csv('sport_test.csv')
sport_test

             oid                                               text
0      749208109  СПОЧНО СООБЩЕСТВО ПРОДАЕТСЯ ЗА 1300Р ЗА ПОКУПК...
1      452466036  Естественное восстановление после тяжелой трен...
2      161038103  Тема нарядов продолжается Одна из британских ж...
3      663621910  Привет Избранный. Ты спрашиваешь себя ЧТО здес...
4      566255305  КОРОЛЬ ПЯТИСОТНИКОВ В ДЕЛЕ Андрей Рублев успеш...
...          ...                                                ...
26255  169728316  Выиграй коллекционный пазл по Wortokenoid of W...
26256  279369911  Волейбол от первого лица Егора Пупынина переко...
26257  600699419  Вы были когда нибудь на свидании где вам задав...
26258  560223506  ТОП 20 самых эффективных общефизических упражн...
26259  724673712  Присылайте ваши беговые фото в комментарии к э...

[26260 rows x 2 columns]

In [143]:
sport_train, sport_val = train_test_split(sport_train, test_size=0.2, random_state=42)

In [144]:
sport_train

,oid,category,text
36686,844060278,extreme,БАЛКАРСКАЯ МУДРОСТЬ Къыш дегенинг бир бетли Жа...
7364,786890377,extreme,высокомерие наверное самое бесполезное из чело...
30737,198543164,boardgames,Sneaky Dtokenoid Переводы и авторские приключе...
29561,402984086,boardgames,news LampPost FAQ Warhammer40k Между тем выпуш...
34033,241706654,autosport,МО и Москва 33 Буся ищет добрые руки Поддержит...
...,...,...,...
6265,713383083,athletics,Для публикации бегофоточки кидайте в комменари...
11284,808044941,football,Универсальная кредитная карта Тинькофф Платину...
38158,428779658,martial_arts,Экзотические методы тренировок. Развитие силы ...
860,957994943,boardgames,Нравятся игры на объяснение слов но есть ощуще...
15795,194568678,winter_sport,Четырехкратный олимпийский чемпион по биатлону...

In [145]:
sport_val

,oid,category,text
217,85378767,boardgames,В продаже Успешный кейс компактная и динамична...
28197,554890257,martial_arts,Макгрегор VS Ислам Хороший бой. Хорошее выступ...
8279,975648278,tennis,Выиграет ли Медведев борьбу за лидерство в рей...
19020,41223850,athletics,Неподскажете какой нибудь хороший рацион на со...
8920,790056190,winter_sport,Алексей Ягудин считает гениальным старт карьер...
...,...,...,...
16245,902161489,winter_sport,Мы уже ждем вас на Северном склоне курорта Бол...
1647,948010773,football,Βлияниe Κpиштиaну Рoнaлду нe имeeт tokenoid pa...
1087,785276264,autosport,После того как Путин объявил мобилизацию повес...
26580,706808171,winter_sport,Телеграмм матч 33 Фигурное катание Сегодня исп...
1370,718774098,hockey,Ретро дня. Шведский форвард Виннипега 1980 х Т...

In [146]:
sport_train.loc[:, 'topic'] = ['Sports'] * len(sport_train)
sport_test.loc[:, 'topic'] = ['Sports'] * len(sport_test)
sport_val.loc[:, 'topic'] = ['Sports'] * len(sport_val)

/home/irina/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [147]:
topic_data = topic_data.append(sport_train[['text', 'topic']])
topic_data = topic_data.append(sport_test[['text', 'topic']])
topic_data = topic_data.append(sport_val[['text', 'topic']])
topic_data

        topic                                               text
0      Beauty  Кудри издавна считались особым элементом приче...
1      Beauty  Все время делаю себе кудри именно утюжком полу...
2      Beauty                      красиво то как, и я так хочу)
3      Beauty           красиво, но волосы портятся будь здоров)
4      Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...       ...                                                ...
16245  Sports  Мы уже ждем вас на Северном склоне курорта Бол...
1647   Sports  Βлияниe Κpиштиaну Рoнaлду нe имeeт tokenoid pa...
1087   Sports  После того как Путин объявил мобилизацию повес...
26580  Sports  Телеграмм матч 33 Фигурное катание Сегодня исп...
1370   Sports  Ретро дня. Шведский форвард Виннипега 1980 х Т...

[106427 rows x 2 columns]

In [148]:
topic_data.to_csv('topics_classification.csv', index=False)

In [149]:
D = pd.read_csv('topics_classification.csv')
D

         topic                                               text
0       Beauty  Кудри издавна считались особым элементом приче...
1       Beauty  Все время делаю себе кудри именно утюжком полу...
2       Beauty                      красиво то как, и я так хочу)
3       Beauty           красиво, но волосы портятся будь здоров)
4       Beauty  Это точно, от плоек и утюжков волосы сильнее п...
...        ...                                                ...
106422  Sports  Мы уже ждем вас на Северном склоне курорта Бол...
106423  Sports  Βлияниe Κpиштиaну Рoнaлду нe имeeт tokenoid pa...
106424  Sports  После того как Путин объявил мобилизацию повес...
106425  Sports  Телеграмм матч 33 Фигурное катание Сегодня исп...
106426  Sports  Ретро дня. Шведский форвард Виннипега 1980 х Т...

[106427 rows x 2 columns]

In [73]:
train, test = train_test_split(D, test_size=0.2, random_state=42, stratify=D.topic)

In [74]:
train = train.append(sport_train[['text', 'topic']])
train = train.sample(frac=1)
train
train.to_csv('topics_train_to_model.csv', index=False)
train

                 topic                                               text
34398  Health&Medicine   В этот паспорт войдет дополнительно к стомато...
13495         Politics   Вот так и надо писАть, что вопрос конкретно п...
25906           Sports  Внимание 33 Пропал человек 33 Вицен Иван Конст...
776             Beauty  Попробуйте дегтярным мылом на лицо наносить ут...
31774           Sports  На случай если вы не нашли напарника на Казань...
...                ...                                                ...
29133      Home&Design  это мягко сказать странно.ничего странного. у ...
34999          Finance    Сорри, оффтоп   Что не напишу, все оффтоп по...
25646        Movies&Tv  Мы с подругой как раз недавно обсуждали, что н...
34464           Sports  Зирган встречаемся сегодня ️ Беркуты Урала сег...
32388  Health&Medicine  Ох, автор, сочувствую. Наберитесь терпения, ст...

[64133 rows x 2 columns]

In [75]:
test, val = train_test_split(test, test_size=0.5, random_state=42, stratify=test.topic)

In [76]:
test = test.append(sport_test[['text', 'topic']])
test = test.sample(frac=1)
test.to_csv('topics_test_to_model.csv', index=False)
test

        topic                                               text
24780  Sports  ЕленаБережная АлександрНосик МихаилГалустян Иг...
15810  Sports  Вопрос по резине на зад какой ширины и профиля...
9860   Sports  Уже сегодня в 20. 00 МСК время 2 гонка сезона ...
5212   Sports  Выверенное движение мяча от Голден Стэйт завер...
20756  Sports  Сегодня день памяти человека воспитавшего не о...
...       ...                                                ...
23645  Sports  Татьяна Тарасова рассказала почему будет следи...
15401  Sports  Анкалаев фаворит в поединке за титул UFC Инфор...
18742  Sports  ДОМИНАТОР 7 игра на доминирование – захват и у...
15572  Sports  news LampPost hortokenoid Как же они хороши ка...
25918  Sports  VII Postokenoid 4х2Mtokenoid Осталось одно жен...

[30403 rows x 2 columns]

In [77]:
val = val.append(sport_val[['text', 'topic']])
val = val.sample(frac=1)
val.to_csv('topics_val_to_model.csv', index=False)
val

                  topic                                               text
26931           Clothes  долго ли я ношу вещи?хотелось бы дольше,т.к. я...
5286             Sports  Всем привет 33 Представляем вашему вниманию но...
35131            Sports  Ftokenoid Ttokenoid Offtokenoid Tratokenoid Фи...
16052          Religion  У меня дома медленный интернет, а на работе то...
31173   Health&Medicine  Попробуйте принимать Колофорт. Он помогает при...
...                 ...                                                ...
17768         Education  Вы поступаете в театральное, а Вы разве ни с к...
1664   Books&Literature     цитата Voron987Это в Украине?нет, это в Москве
18380         Education  Мне пригодилось. И вот почему:1. Я научилась у...
20266            Sports  Отличные новости в Фонбет появились разнообраз...
22749            Sports  Всероссийские соревнования Гран При России Зол...

[11891 rows x 2 columns]